*{
    margin: 0;
    padding: 0;
    background-color: ghostwhite;
}
.logo{
    margin-left: 20px;
    margin-top: 20px;
}
header{
    display: flex;
    justify-content: space-between;
}
nav ul{
    display: flex;
    margin-top: 20px;
    margin-right: 40px;
    
}
nav li{
    margin-right: 20px;
    color: chartreuse;
    list-style: none;
    font-weight: 700;
}
nav a{
    text-decoration: none;
    color: chartreuse;
    font-size: 25px;
}
.logo h2{
    font-size: 45px;
    color: darkslategrey;
    font-weight: 700;
    margin-left: 40px;
}
.logo span{
    color: chartreuse;
}
img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.album{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows:repeat(4, 1fr); 
    margin-bottom: 50px;
}
.al-pic{
    margin: 80px;
    border-radius: 10px;
}
.al-pic h3{
    text-align: center;
    color: darkslategrey;
}
.al-pic p{
    text-align: center;
    color: black;
    font-size: 16px;
}
footer div{
    background: darkslategray;
    text-align: center;
    margin-top: 125px;
}
footer{
    background-color: darkslategrey;
    height: 250px;
    border-radius: 5px;
    border: 3px solid darkslategrey;
}
footer h2{
    color:chartreuse;
    background-color: darkslategrey;
    font-weight: 900;
    font-size: 50px;
}
footer p{
    background-color: darkslategrey;
    color: chartreuse;
}
@media screen and (min-width: 1024px){
    .album{
        padding-bottom: 40px;
    }
}
@media screen and (min-width:550px) and (max-width:992px){
    header{
        display: flex;
        flex-direction: column;
    }
    nav ul{
         margin: 8% 45% 8% 25%; 
    }
    .logo h2{
         margin-left: 33%;
         margin-right: 30%;
         font-size: 35px; 
         white-space: nowrap;
    }
    .album{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding-bottom: 40px;
    }
    nav li{
        padding-left: 10%;
    }
    nav a{
        font-size: 20px;
       
    }
    footer h2{
        font-size: 38px;
    }
}
@media screen and (max-width:549px){
    header{
        display: flex;
        flex-direction: column;
    }
    nav ul{
         margin: 8% 45% 8% 8%; 
    }
    .logo h2{
         margin-left: 23%;
         margin-right: 55%;
         font-size: 25px; 
         white-space: nowrap;
    }
    .album{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding-bottom: 40px;
    }
    nav li{
        padding-left: 10%;
    }
    nav a{
        font-size: 14px;
       
    }
    footer h2{
        font-size: 22px;
    }
    img{
        height: 60%;
        width: 100%;
    }
    .al-pic{
        margin-left: 80px;
    }
    .al-pic h3{
        text-align: center;
        font-size: 14px;
        white-space: nowrap;
    }
    .al-pic p{
        text-align: center;
        font-size: 10px;
    }
    footer p{
        font-size: 10px;
    }    
}

